body{
  background-image:url(background.png);
  background-size:cover;
  /* background:url(background.png) center no-repeat; */
  /* background-size:100% 100%; */
}

/* html{height:100%} */

#style1{text-align: center;
text-shadow: 4px 2px 8px #53727d;}

#p1{text-align: center;
text-shadow: 4px 2px 8px #53727d;}

#p2{text-align: center;
color:white;}

/* #answer{text-align: center;
color:white;} */
