html{
  font-size: 62.5%;
}

body .shell-top{
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 50px;
}

body .shell-top:hover{
  color: #ffff99;
  text-shadow: 4px 2px 80px #ffff99;
}

@font-face {
font-family: "晴空丸体细体";
src: url("晴空丸体细体.ttf")
}
body {
  font-family:"晴空丸体细体";
  font-size: 1.6rem;
  background-color:#160016;
  overflow-x: hidden;
}

#header {
  background-color:#160016;
}
#header-text{
color: #fff;
font-family: Helvetica;
}
#header-text:hover {
border-bottom:2px solid #F5F58C;
}
#header-littletext{
  color: #fff;
  font-family: Helvetica;
}
#header-littletext:hover {
  color: #ffff99;
  text-shadow: 4px 2px 80px #ffff99;
  background-color: #160016;
}

.navbar a{
  font-size: 1.6rem;
}

.light{
  border-top: 2px solid #ffff99;
  width: 15%;
  opacity: 1;
}

.heading2{
  color: #ffff99;
  font-size: 3vw;
}

.main img{
  display: block;
  /* height:80%;
  weight:80%; */
  /* width:85%; */
  height:auto;
  width:auto;
  /* margin: 4; */
  /* padding:4; */
  /* border-radius: 3vmin; */
}

#carouselExampleIndicators{
  position: relative;
  flex: 1;
  width:800px;
  height:400px;
  overflow:hidden;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#carouselExampleIndicators::after {
content: "";
border-radius: 5px;
position: absolute;
z-index: -1;
top: 0;
left: 0;
width: 100%;
height: 100%;
box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1), 0 0px 40px #ffff99; /* 修改阴影颜色为 #ffff99 */
opacity: 0;
-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#carouselExampleIndicators:hover {
-webkit-transform: scale(1.25, 1.25);
transform: scale(1.1, 1.1);
}
#carouselExampleIndicators::after {
opacity: 1;
}

.main{
  weight:80%;
  height:auto;
}

.row {
  display: flex;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  justify-content: center;
  margin: 10px;
  margin:0 auto;
}
@media (max-width: 1100px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr); /* 在小屏幕下显示2列 */
  }
}

@media (max-width: 700px) {
  .card-container {
    grid-template-columns: 1fr; /* 在更小的屏幕下显示1列 */
  }
}

.box {
position: relative;
/* display: inline-block; */
width:350px;
height:auto;
flex: 1;
border: none;
/* display: flex; */
/* margin:10px; */
margin:10px auto;
padding:0;
max-width: 85%;
/* justify-content: center; */
/* width: 100px;
height: 100px; */
background-color: #fff;
border-radius: 5px;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.box::after {
content: "";
border-radius: 5px;
position: absolute;
z-index: -1;
top: 0;
left: 0;
width: 100%;
height: 100%;
box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1), 0 0px 40px #ffff99; /* 修改阴影颜色为 #ffff99 */
opacity: 0;
-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.box:hover {
-webkit-transform: scale(1.25, 1.25);
transform: scale(1.15, 1.15);
}
.box:hover::after {
opacity: 1;
}
@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
}

video {
display: block;
margin:0 auto;
padding-top: 5rem;
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 30px;
  padding-bottom: 2rem;
}

.back:hover{
  color: #ffff99;
  text-shadow: 4px 2px 80px #ffff99;
}

.contact h2{
  font-size: 5rem;
}

.contact h5{
  font-size: 2rem;
}

@media (max-width: 600px) {
	body .shell-top{
		font-size: 4rem;
  	}
  }

@media (max-width:800px){
  .heading2{
    font-size: 2.3rem;
}
